*~
build
debian/files
debian/libwspcodec
debian/libwspcodec-dev
debian/*.debhelper.log
debian/*.debhelper
debian/*.install
debian/*.substvars
debian/tmp
documentation.list
installroot
libwspcodec.ncb
libwspcodec.opt
RPMS

# Added by Droidian
!.circleci/
